  /* Icon Fontawesome&Xeicon */
  @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  @import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
  
  /* Google Web Fonts CDN */
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@media(min-width:701px) {

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

button,
input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0%;
  font-weight: normal;
  line-height: 2em;
}

/* Default CSS */
header {
  background-color: black;
  background-attachment: fixed;
  color: white;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 0px;
  border-bottom: solid 5px white;
  overflow: hidden;
}

/* Hamburger button */
input[id=trigger] {
  display: none;
}

label[for=trigger] {

  width: 40px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  transition: 0.3s;

}

.sidebar_2 label {
  width: 100%;
  height: 100%;
}

label[for=trigger] span {
  display: block;
  border-radius: 10%;
  height: 8px;
  background-color: white;
  position: absolute;
  width: 90px;
  left: 10px;
  transition: 0.3s;
  z-index: 1000;
  padding: 1px;
}

label[for=trigger] span:nth-child(1) {
  top: -10%;
}

label[for=trigger] span:nth-child(2) {
  top: 50%;
}

label[for=trigger] span:nth-child(3) {
  top: 110%;
}

/* Sidebar Hamburger lines rotate */
input[id=trigger]:checked+label span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  background-color: rgb(80, 80, 80);
}

input[id=trigger]:checked+label span:nth-child(2) {
  opacity: 0;

}

input[id=trigger]:checked+label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  background-color: rgb(80, 80, 80);
}

input[id=trigger]:checked+label {
  left: 260px;

}


.sidebar_1 {
  width: 30%;
  height: 100vh;
  background-color: rgb(0, 60, 128);
  opacity: 90%;
  position: fixed;
  top: 0;
  left: -30%;
  transition: 0.5s;
  color: black;
  z-index: 900;
  text-align: left;
}

.sidebar_2 {
  width: 70%;
  height: 100vh;
  background-color: grey;
  opacity: 20%;
  position: fixed;
  top: 0;
  right: -70%;
  z-index: 900;
  transition: 0.5s;
  color: black;
}

.sidebar_1 h1 {
  font-weight: 500;
  margin: 50px;
}

input[id=trigger]:checked~.sidebar_1 {
  left: 0;
}

input[id=trigger]:checked~.sidebar_2 {
  right: 0;
}


body {
  margin: 0;
  font-weight: 50;
  background-color: white;
  color: #222;
  font-size: 15px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;

  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;

}

img {
  vertical-align: text-top;
}

/* Next & previous but*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fas {
  font-size: 100px;
  color: black;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#main .container {
  font-size: 20px;
  margin-right: 10%;
  margin-left: 5%;

}

/* Contact Page Background */
/* .background{
  width: 100%;
  height: 100%;
}
.background img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: right;
opacity: 0.3;
} */
img {
  vertical-align: middle;
}

/* ul {
  margin-bottom: 50px;
  padding: 0;

} */

li {

  display: inline;
  font-weight: bold;
  margin-left: 100px;

}


nav {
  margin-right: 200px;
  width: 30;
  float: right;
display: flex;
}

header a {

  padding: 20px;
  width: 100%;
  color: white;
  text-decoration: none;
 font-size: 30px;
 flex: 1;
}

header a:hover {
  color: blue;
}

header .current a {
  color: blue;
}

/* #menu.box {
  float: left;
  border: 1px;
  width: 50px;
  height: 50px;
}

#menu.box:before {
  margin-left: 25px;
  content: '\f0c9';
  font-family: fontawesome;
  font-size: 50px;
  right: 0;
  bottom: 0;
  color: white;
  height: 30px;
  line-height: 30px;
} */


.btn-gototop {
  float: right;
  margin-right: 30px;
}

.btn-gototop:before {
  content: "\e915";
  font-family: xeicon;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

footer {

  background-color: black;
  color: black;
  padding-bottom: 40%;
}

/* 
#footer.box{
background-color:black;
color: black;
float: right;
margin-right:40px;

}

#footer.box:before {
  content: '\ebee';
  font-family: xeicon;
  font-size: 50px;
  right: 0;
  bottom: 0;
  background: yellow;
  color: black;
  height: 30px;
  line-height: 30px;
} */

/* down
content: "\e905"; */
}
