body{
    background-color: linen;
    color:green;
    margin-left: 40px;
    margin-right: 40px;
}

hr{
    height: 5px;
    border: solid grey;
    background-color: grey;
}

button:hover{
color:red;
background-color: yellow;

}